body {
    font-family: 'Montserrat', sans-serif;
}

.card {
    width: 370px;
    height: 326px;
    top: 85px;
    left: 104px;
    padding: 10px 0;
    gap: 0;
    border-radius: 6px;
    border: 1px solid #EEEEEE;
    position: absolute;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 15px 0px #1414141F, 0px 0px 4px 0px #1414141A;
}

.all-pages,
.page {
    width: 370px;
    height: 42px;
    padding: 8px 15px 8px 22px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.all-pages-text,
.page-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    color: #1F2128;
}

.clickable-component-container {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.clickable-component {
    width: 23px;
    height: 23px;
    border-radius: 6px;
    border: 1px solid #CDCDCD;
    background-color: #FFFFFF;
    opacity: 0.6;
    position: relative;
}

.checkmark {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.line-container {
    width: 370px;
    height: 20px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.line {
    width: 340px;
    height: 0.7px;
    background: #CDCDCD;
    margin: 0;
}

.pages-bundle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
}

.button-container {
    width: 370px;
    height: 60px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.custom-button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
    background: #FFCE22;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}